<div>
    <div>
                    <p class="card-text "> Id: {{task.id}}</p>
                    <p class="card-text "> Title: {{task.title}}</p>
                    <p class="card-text "> DateD: {{task.dateD}}</p>
                    <p class="card-text "> DateF: {{task.dateF}}</p>
                    <p class="card-text "> Status: {{task.status}}</p>
                    <div>
                    <p>Project</p>
                    <p class="card-text "> Id: {{task.project.id}}</p>
                    <p class="card-text "> Title: {{task.project.title}}</p>
                    <p class="card-text "> Description: {{task.project.description}}</p>
                    </div>
    </div>

</div>